node_modules
dist
out-tsc
.stryker-tmp
reports
coverage
.git
.gitignore
.vscode
*.log
npm-debug.log*
Dockerfile
.dockerignore
jest.config.js
setup-jest.ts
stryker.conf.json
eslint.config.mjs
**/*.spec.ts